@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.FName!</h1>
    
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Song Title</th>
                <th>Song Artist</th>
                <th>Song Playtime</th>
                <th>Song Rating</th>
                <th>Song Release Date</th>
                <th>Song Owned</th>
                <th>Artist Email</th>
                <th>Artist Website</th>
            </tr>
        </thead>

        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="7" class="text-center">No Model</td>
                </tr>
            }
            else
            {
                @foreach (var p in Model.sngs)
                {
                    <tr>
                        <td>@p.Song_ID</td>
                        <td>@p.Song_Title</td>
                        <td>@p.Song_Artist</td>
                        <td>@p.Song_PlayTime</td>
                        <td>@p.Song_Rating</td>
                        <td>@p.Song_Date</td>
                        <td>@p.Song_Owned</td>
                        <td>@p.Artist_Email</td>
                        <td>@p.Artist_Website</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
